@import "variable";
@import "reset";

.theme2{
  background-color: #e6e6e6!important;
  color:#000;
}
.nav_bar{
  background-color: $nav_bar;
  height:25px;
  border-bottom: 1px $nav_bottom_line solid;
  width:100%;
  .nav_bar_left {
    height:25px;
    float:left;
    .nav_bar_item {
      float: left;
      line-height: 25px;
      position:relative;
      perspective: 500px;
      &:hover .nav_bar_text{
        width:200px;
        color: #fff;
        background-color: $nav_hover;
      }
      &:hover .nav_bar_wrapper{
        transition:all 1.2s;
        transform:rotateX(360deg);
        opacity: 1;
      }
      .nav_bar_text{
        text-align: center;
        transition: all .6s;
        width:120px;
      }
      .nav_bar_wrapper_theme2{
        background-color: #e6e6e6!important;
      }
      .nav_bar_wrapper{
        transform-style:preserve-3d;
        transform-origin:0 0 0;
        transform:rotateX(-90deg);
        font-size: 12px;
        border-radius: 5px;
        position:absolute;
        top:24px;
        left: 0;
        opacity: 0;
        width:200px;
        background-color: $nav_bar;
        border:1px solid #646464;
        .nav_content_item{
          &:first-child {
            border-bottom: 1px solid #646464;
          }
          &:last-child  {
            border-top: 1px solid #646464
          }
          &:hover{
            background-color: #2f65ca;
          }
          text-indent: 2em;
        }
      }
    }
  }
  .nav_bar_right{
    float:right;
    margin-right: 20px;
    height:25px;
    .nav_bar_item{
      cursor:pointer;
      transition: all 1s;
      float:left;
      margin-top:6px;
      margin-right:10px;
      font-size: 12px;
      width:12px;
      height:12px;
      border-radius:12px;
      text-align: center;
      line-height: 12px;
      &:hover{
        border-radius: 0;
        transform: scale(1.5);
      }
    }
    .theme1{
      color:#fff;
      background-color: #000;
    }
    .theme2{
      color:#000;
      background-color: #fff;
    }
  }
}

.search_bar{
  height:40px;
  background-color: $nav_bar;
  border-bottom: 1px $nav_bottom_line solid;
  overflow: hidden;

  .search_bar_input{
    margin-left: 20px;
    width:200px;
    transition:all 1s;
    padding:0 20px;
    margin-top:10px;
    outline: none;
    border: 1px solid #646464;
    height:20px;
    background-color: #45494a;
    border-radius: 14px;
    &:focus{
      width:400px;
    }
  }
  .search_bar_text{
    font-size: 12px;
    line-height: 40px;
    color:$font;
  }
  .search_bar_btn{
    float:right;
    color:$font;
    background-color: #45494a;
    border-radius: 2px;
    border:1px solid $nav_bottom_line;
    width:65px;
    height:20px;
    margin-top:10px;
    margin-right: 20px;
    &:hover{
      background-color: #2f65ca;
    }
  }
  .search_select_wrapper{
    float: right;
  }
  .search_bar_theme{
    margin-right:30px;
    margin-top: 10px;
    float:right;
    outline:none;
    background-color: $nav_bar;
    border: 1px solid $nav_bottom_line;
    font-size:14px;
  }
}

.file_tree_bar{
  z-index: -1;
  transition:all .6s;
  width:200px;
  position:absolute;
  top:65px;
  bottom:25px;
  left:0;
  background-color:$nav_bar;
  overflow: scroll;
}

.code_edit_bar{
  transition:all 1s;
  z-index: -1;
  position:absolute;
  top:65px;
  bottom:25px;
  left:200px;
  right:0;
  background-color:$code_bar;
  overflow:scroll;
  .CodeMirror{
    height:100%;
    width:100%;
  }
  .code_edit_max{
    cursor: pointer;
    border: 4px $nav_bar solid;
    border-radius: 5px;
    position:absolute;
    width:20px;
    height:40px;
    bottom:0;
    left:-4px;
    z-index: 999;
    word-wrap: break-word;
    text-align: center;
    font-size: 12px;
    padding:4px 0;
  }
  .code_edit_max_theme2{
    border: 4px #e6e6e6 solid;
    color: #000;
  }
}
.code_edit_max{
  left:0px;
}


.foot_status_bar{
  position:absolute;
  height:25px;
  background-color: $nav_bar;
  border-top:$nav_bottom_line 1px solid;
  left:0;
  bottom:0;
  width:100%;
  line-height: 25px;
  font-size: 12px;
  text-align: right;
  .foot_status_title{
    font-weight: bold;
    color:#fff;
  }
  .foot_status_title_theme2{
    color:#000!important;
  }
}

.input_bar{
  transition:all 1s;
  transform-style:preserve-3d;
  transform-origin:0 0 0;
  transform:rotateX(90deg);
  opacity:0;
  z-index: 999;
  height:100px;
  width:600px;
  background-color: $code_bar;
  border-radius: 5px;
  position:fixed;
  left:50%;
  margin:100px 0 0 -300px;
  border:5px solid $nav_bar;
  font-size: 16px;
  .input_bar_title{
    width:100%;
    text-align: center;
    height:30px;
    line-height: 30px;
    border-bottom:2px solid $nav_bar ;
  }
  input{
    transition:all 1s;
    margin-top:15px;
    font-size: 16px;
    height:30px;
    width:250px;
    outline: none;
    border: 1px solid #646464;
    background-color:$nav_bar;
    padding: 0 20px;
    margin-left: 50px;
    &:focus{
      border-radius: 15px;
      width:500px;
    }
  }
  button{
    position:absolute;
    transition:all .3s;
    margin-top: 60px;
    width:65px;
    height:30px;
    background-color: $nav_bar;
    right:30px;
    bottom:-30px;
    opacity: .3;
    &:hover{
      opacity:1;
    }
  }
  .input_bar_select{
    position:absolute;
    left:20px;
    top:5px;
    height:20px;
    width:65px;
    font-size: 12px;
    outline:none;
    background-color: $nav_bar;
    border: 1px solid $nav_bottom_line;
  }
}

.input_bar_active{
  transform:rotateX(360deg);
  opacity:1;
}