@import "variable";
@import "reset";

.nav_bar{
  background-color: $nav_bar;
  height:25px;
  border-bottom: 1px $nav_bottom_line solid;
  .nav_bar_left {
    height:25px;
    float:left;
    .nav_bar_item {
      transition: all .6s;
      float: left;
      line-height: 25px;
      text-align: center;
      padding: 0 10px;
      position:relative;
      &:hover {
        padding: 0 100px;
        color: #fff;
        background-color: $nav_hover;
      }
    }
  }
  .nav_bar_right{
    float:right;
    margin-right: 20px;
    height:25px;
    .nav_bar_item{
      float:left;
      margin-top:6px;
      margin-right:10px;
      width:12px;
      height:12px;
      border-radius:12px;
    }
    .theme1{
      background-color: #fc615c;
    }
    .theme2{
      background-color: #fdc141;
    }
    .theme3{
      background-color: #34c849;
    }
  }
}

.search_bar{
  height:40px;
  background-color: $nav_bar;
  border-bottom: 1px $nav_bottom_line solid;
  .search_bar_input{
    margin-left: 20px;
    width:200px;
    transition:all 1s;
    padding:0 20px;
    margin-top:10px;
    outline: none;
    border: 1px solid #646464;
    height:20px;
    background-color: #45494a;
    border-radius: 14px;
    &:focus{
      width:400px;
    }
  }
  .search_bar_text{
    font-size: 12px;
    line-height: 40px;
    color:$font;
  }
  .search_bar_btn{
    float:right;
    color:$font;
    background-color: #45494a;
    border-radius: 2px;
    border:1px solid #646464;
    width:65px;
    height:20px;
    margin-top:10px;
    margin-right: 20px;
    &:hover{
      background-color: #2f65ca;
    }
  }
}

.file_tree_bar{
  transition:all .6s;
  width:160px;
  position:absolute;
  top:65px;
  bottom:25px;
  left:0;
  background-color:$nav_bar;
  overflow: scroll;
  &:after{
    content:'<';
    text-align: center;
    line-height: 60px;
    border:1px solid #646464;
    border-right:none;
    position:absolute;
    width:10px;
    height:60px;
    right:0px;
    top:50%;
    margin-top:-30px;
    background-color: $code_bar;
    color:#646464;
  }
}

.code_edit_bar{
  position:absolute;
  top:65px;
  bottom:25px;
  left:160px;
  right:0;
  background-color:$code_bar;
}

.foot_status_bar{
  position:absolute;
  height:25px;
  background-color: $nav_bar;
  border-top:$nav_bottom_line 1px solid;
  left:0;
  bottom:0;
  width:100%;
}