@import "variable";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Microsoft Sans Serif';
  color: $font;
}

li{
  list-style: none;
}

body{
  font-size: 14px;
  width: 100%;
  height: 100%;
  overflow:hidden;
}

a{
  text-decoration: none;
}


html{
  width: 100%;
  height: 100%;
}

button{
  outline: none;
  border: none;
  border-radius: 4px;
  color:#fff;
  text-align: center;
}

.clearfix{
  zoom: 1;
  &:after{
    content:"";
    height:0;
    display:block;
    clear:both;
    visibility: hidden;
  }
}
