/*首页*/
/*背景颜色*/
$bg_color:#f8f8f8;
/*首页导航栏高亮字体*/
$topbar_act:#ff2741;

$nav_fontColor:#666;

$price_color:#ee2e3a;

$good_title:#333;
/*首页底部栏字体*/
$good_info:#9c9c9c;
/*首页底部栏字体*/
$bottom_bar:#777;

/*详情页*/
/*详情页国家名字体*/
$country_color:#d90000;
/*详情页价格颜色*/
$detail_price:#fe3348;
/*详情页内容字体颜色*/
$detail_content:#999999;
/*详情页按钮颜色*/
$detail_btn:#ff2d3c;

/*下单页*/
/*地址字体颜色*/
$address_text:#151516;
/*下单页附加信息*/
$order_detail:#9c9c9c;
/*下单页按钮*/
$order_btn_shallow:#f2f2f2;
$order_btn_dark:#e0e0e0;
/*推荐*/
$order_btn_recommond: #ff2b3b;
/*下划线*/
$address_line:#c4c4c4;
/*地址页下边框*/
$address_input_line:#ccc;
